<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>バイクブログ</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="wrap">
  <section class="main-header">
    <img class="main_img" src="byc.jpg">
  </div>
  </section>
  <section class="row about">
    <h3 class="col-sm-12 col-md-4">About バイクブログ</h1>
    <p>
      バイクブログは、バイクを愛する男が<br>
      投稿する、趣味のブログです。<br>
    </p>
    <p>
      バイクを愛する全ての人にこのブログを捧げます。
    </p>
  </section>
  
  <footer>
    <p>運営会社Sato株式会社</p>
    <p>© 2015-2016 Copyright Sato Corp.</p>
  </footer>
  </body>
</body>
</html>