<body>
  
  <div class = "topimg">
    <%= image_tag "byc.jpg", :class => "main_img" %>
  </div>
  
  <div class="about">
    <h3>About バイクブログ</h3>
    <p>
      バイクブログは、バイクを愛する男が<br>
      投稿する、趣味のブログです。<br>
      バイクを愛する全ての人にこのブログを捧げます。
    </p>
  </div>
  
</body>